<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ConexaoFilter</filter-name>
        <filter-class>nathan.ads.gerenciadorDeVeiculos.filters.ConexaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ConexaoFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AnuncioServlet</servlet-name>
        <servlet-class>nathan.ads.gerenciadorDeVeiculos.servlets.AnuncioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnunciarServlet</servlet-name>
        <servlet-class>nathan.ads.gerenciadorDeVeiculos.servlets.AnunciarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatoServlet</servlet-name>
        <servlet-class>nathan.ads.gerenciadorDeVeiculos.servlets.ContatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>nathan.ads.gerenciadorDeVeiculos.servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagemServlet</servlet-name>
        <servlet-class>nathan.ads.gerenciadorDeVeiculos.servlets.imagemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>nathan.ads.gerenciadorDeVeiculos.servlets.CategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarServlet</servlet-name>
        <servlet-class>nathan.ads.gerenciadorDeVeiculos.servlets.BuscarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnuncioServlet</servlet-name>
        <url-pattern>/anuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnunciarServlet</servlet-name>
        <url-pattern>/anunciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatoServlet</servlet-name>
        <url-pattern>/contato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagemServlet</servlet-name>
        <url-pattern>/imagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarServlet</servlet-name>
        <url-pattern>/busca</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
