<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>TrimFiltrer</filter-name>
        <filter-class>br.grupointegrado.ads.sistema.filter.TrimFiltrer</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TrimFiltrer</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.grupointegrado.ads.sistema.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaracterReservadoServlet</servlet-name>
        <servlet-class>br.grupointegrado.ads.sistema.CaracterReservadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoServlet</servlet-name>
        <servlet-class>br.grupointegrado.ads.sistema.CarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagamentoServlet</servlet-name>
        <servlet-class>br.grupointegrado.ads.sistema.PagamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilServlet</servlet-name>
        <servlet-class>br.grupointegrado.ads.sistema.PerfilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaracterReservadoServlet</servlet-name>
        <url-pattern>/Caracter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoServlet</servlet-name>
        <url-pattern>/carrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagamentoServlet</servlet-name>
        <url-pattern>/pagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilServlet</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
</web-app>
